.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  padding: 40px 20px;
  object-fit: contain;
  /* background-color: pink; */
}

.product__image {
  /* margin: 25px; */
  width: 50%;
  padding: 0 30px;
}

.product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  white-space: none; /* margin: 25px; */
  width: 50%;
}
.product__buttons {
  display: flex;
  margin: 15px;
}
.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid 1px black;
  padding: 5px;
  margin: 15px;
  background-color: rgb(254, 76, 76);
}
.product__button:hover {
  cursor: pointer;
}

.product__button.selected {
  background-color: rgb(97, 247, 97);
}

@media only screen and (max-width: 600px) {
  .product {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .product__image {
    /* margin: 25px; */
    width: 90%;
    padding: 0 30px;
  }
  .product__description {
    
    margin-top: 30px;
    
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe5c5c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #21f333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
