:root {
  /* Used for overall width of slider */
  /* Slider width should equal 2 *ball diameter + 2 * ball location */
  --slider-width: calc(
    (2 * var(--slider-ball-diameter)) + (2 * var(--slider-ball-location))
  );
  /* Used for slider height and border-radius.*/
  /* Slider height should equal ball diameter + 2 * ball location*/
  --slider-height: calc(
    (var(--slider-ball-diameter)) + (2 * var(--slider-ball-location))
  );
  /* Used for slider ball width, height, and translation of ball */
  --slider-ball-diameter: 16px;
  /* Used to move slider ball into place */
  --slider-ball-location: 4px;
}

.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  padding: 40px 20px;
  object-fit: contain;
  /* background-color: pink; */
  border-bottom: solid 1px black;
}
.product:not(:last-child) {
  border-bottom: solid 1px black;
}

.product__image {
  /* margin: 25px; */
  width: 50%;
  padding: 0 30px;
}

.product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  white-space: none; /* margin: 25px; */
  width: 50%;
}

.product__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__buttons-text {
  font-size: 18px;
  font-weight: 500;
}

@media all and (max-width: 600px) {
  .product {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  .product__image {
    width: 90%;
    padding: 0 30px;
  }
  .product__description {
    margin-top: 30px;
  }

  .product__name {
    font-size: 3vh;
  }

  .product__info {
    font-size: 2vh;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: var(--slider-height);
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe5c5c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--slider-ball-diameter);
  width: var(--slider-ball-diameter);
  left: var(--slider-ball-location);
  bottom: var(--slider-ball-location);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #21f333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--slider-ball-diameter));
  -ms-transform: translateX(var(--slider-ball-diameter));
  transform: translateX(var(--slider-ball-diameter));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: 50%;
}
